* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #505050;
    --secondary-color: rgb(62, 135, 177);
    --secondary-color-faded: rgba(62, 135, 177, 0.8);
    --tertiary-color: rgba(171,224,255);
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    width: auto;
    
}


header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-color: aliceblue;
    background-position: 80%;
    background-size: cover;
    background-attachment: fixed;
    z-index: 99999;
    align-items: center;
}

header h1 a {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 10px;
    padding: 20px;
    text-decoration: none;
}


header h1 a:hover {
    color: var(--secondary-color);
    transition: .8s;
}

.navbar ul {
    display: flex;
    list-style: none;
}

header nav ul li a {
    font-size: 25px;
    padding: 10px;
    align-items: center;
    text-decoration: none;
    color: var(--secondary-color);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: white;
    border-radius: 15px;
    transition: .4s;
    text-shadow: none;
}

.hero {
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/Background\ image.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-position: 80%;
    background-attachment: fixed;
}

.section-title {
    font-size: 45px;
    padding: 20px;
    transition: ease;
    padding-top: 85px;
}

.projects {
    background-color: orange;
    height: auto;
    justify-content: center;
}

.container-of-projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.contact-info {
    height: 900px;
    background-color: rgb(29, 71, 119);
}

.bio {
    background: var(--secondary-color-faded);
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 100px;
    width: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);

}

.bio:hover {
    background: var(--secondary-color);
    transition: .8s;
}

.bio-container {
    display: flex;
    align-items: flex-start;
}

.bio h2 {
    padding-bottom: 30px;
    justify-content: center;
}

.bio h3:hover {
    color: white;
    transition: 1s;
}


.bio-text h3 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.bio-text {
    width: 300px;
    margin: 0 20px 20px 0;

}

.bio img {
    height: 400px;
    width: auto;
    flex: 1 1 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

.bio img:hover {
}

.project-container {
    margin: 20px;
    border: black solid;
    border-radius: 15px;
    z-index: 1000;
    padding: 20px;
    flex: 1 1 400px;
    
}

.project-container::before {
    content: "";
    background-image: url(../images/wings.jpeg);
    background-size:cover;
    background-position: center;
    opacity: .6;
    position: absolute;
}

.main-proj {
    flex: 2 1 800px;
}

.project-text {
    width: 300px;
    bottom: 10px;
    margin: 200px 20px 0px 20px;
    left: 10px;
    color: white;
    
}

footer {
    background-color: rgb(34, 68, 114);
    width: 100%;
    padding: 20px 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: white 2px solid;
}

footer h2{
    color: white;
    font-size: 30px;
    margin: 0;
}

footer div{
    line-height: 1.5;
    text-align: center;
}